gov.il_poc1/gov_poc1.module/Service Descriptors/DataPremitions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.yaelsoft.com/DataPremitions/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataPremitions" targetNamespace="http://www.yaelsoft.com/DataPremitions/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.yaelsoft.com/DataPremitions/"> <xsd:complexType name="t_permition">
            <xsd:sequence>
									<xsd:element name = "OfficeCode" type = "xsd:string"/>
									<xsd:element name = "ServiceCode" type = "xsd:string"/>
								</xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="t_permitions">
            	<xsd:sequence>
            		<xsd:element name="peroition" type="tns:t_permition" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
      <xsd:complexType name="t_requestParam">
        	<xsd:sequence>
        		<xsd:element name="OfficeCode" type="xsd:string"></xsd:element>
        	</xsd:sequence>
        </xsd:complexType>
            <xsd:element name="GetDataPermissionsRequest" type="tns:t_requestParam"></xsd:element>
            <xsd:element name="DataPermissionsRequest" type="tns:t_permitions"></xsd:element>
            <xsd:element name="GetPaymentsAuthorities">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="in" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GetPaymentsAuthoritiesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GetPaymentsAuthoritiesRequest"
            	type="tns:t_requestParam">
            </xsd:element>
            <xsd:element name="PaymentsAuthoritiesRequest"
            	type="tns:t_permitions">
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDataPermissionsRequest">
    <wsdl:part element="tns:GetDataPermissionsRequest"
    	name="parameters" />
  </wsdl:message>
  <wsdl:message name="GetDataPermissionsResponse">
    <wsdl:part element="tns:DataPermissionsRequest" name="parameters" />
  </wsdl:message>
  <wsdl:message name="GetPaymentsAuthoritiesRequest">
  	<wsdl:part name="parameters"
  		element="tns:GetPaymentsAuthoritiesRequest">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPaymentsAuthoritiesResponse">
  	<wsdl:part name="parameters"
  		element="tns:PaymentsAuthoritiesRequest">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetData">
    <wsdl:operation name="GetDataPermissions">
      <wsdl:input message="tns:GetDataPermissionsRequest"/>
      <wsdl:output message="tns:GetDataPermissionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentsAuthorities">
    	<wsdl:input message="tns:GetPaymentsAuthoritiesRequest"></wsdl:input>
    	<wsdl:output message="tns:GetPaymentsAuthoritiesResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataPremitionsSOAP" type="tns:GetData">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDataPermissions">
      <soap:operation soapAction="http://www.yaelsoft.com/DataPremitions/GetDataPermissions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataPremitions">
    <wsdl:port binding="tns:DataPremitionsSOAP" name="DataPremitionsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
